@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500&display=swap');

/*  
rgba(31, 199, 212, 1); blue
 background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
*/

*{
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.errorMes > p{
  color: red;
  font-size: 1.2em;
}

.errorMes{
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 100;
}




button{
  font-weight: 400;
  border-radius: 0.3em;
  color: white;
  background-color: rgba(31, 199, 212, 1);
 padding: 0.5em;
  cursor: pointer;
  outline: none;
  border: none;

  
}

.container{
  display: grid;
  height: 100vh;
  grid-template-rows: 0.5fr, 2fr, 2fr;
  display: inline-block;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.32) 50%, rgba(37, 165, 151, 0) 50%);
}

/*
.navDiv{
  width: 100vw;
  border: solid 5px greenyellow;
}
*/

#metamasklogo{
height: fit-content;
width: 1.5em;
margin-left: 0.3em;
position: relative;
top: 0.3em;
}

#metamasklogomobile{
  height: fit-content;
  width: 1.5em;
  cursor: pointer;
}

.navDiv_buttonDiv > div:first-child{
  display: flex;
  width: 5em;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.navDiv_buttonDiv{
display: flex;
justify-content: space-between;
}

nav{
  overflow-x: hidden;
  color: white;
  display: flex;
  height: 5em;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
}


.navDiv_optionsDiv > ul{
  display: flex;
  list-style: none;
  width: 22em;
  justify-content: space-between;
  font-weight: 200;
}

.navDiv_optionsDiv > ul > i{
  margin-left: 0;
  color: #9F496E;
  padding-left: 0;
  left: 1px;
  position: relative;
}

.navDiv_optionsDiv > ul > li{
 cursor: pointer;
}

.fa-ethereum{
  font-size: 1.4em;
  margin-right: 0.5em;
  background: rgba(31, 199, 212, 1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 
  


}

.navDiv_logoDivSpan {
  font-weight: bolder;
  font-size: 1.5em;
  
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.navDiv_logoDiv > span{
  font-weight: 500;
  font-size: 1.5em;
}

.navDiv_HomeDiv{
  position: relative;
  font-weight: 200;
}

.navDiv_HomeDiv > span{
  cursor: pointer;
}

.navDiv_HomeDiv > span:hover{
  transition: 1s;
}

.homeBorderBottom{
  position: absolute;
  top: 1.3em;
  left: 0.5em;
  width: 2em;
  height: 0.1em;
  background-color: white;
}


/*  body style*/

.bodyDiv{
  display: grid;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  height: 70%;
 
}

.bodyDivSub{
  margin: auto;
  margin-top: 4em;
  text-align: center;
}

.bodyDiv_h1Text{
  margin-bottom: 1.5em;
}

.bodyDiv_h1Text > h1{
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  word-spacing: 0.1em;
  font-size: 3em;
  
}
/*
.bodyDiv_h1Text > h1 > span{
  background-image: linear-gradient(43deg, #554e84 10%, #C850C0 35%, #f1b13e 51%, #ffffff 61%, #640dd4 66%);
  
  -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}*/



.bodyDiv_paraText > h3{
  font-weight: 500;
  color: black;
}


.bodyDiv_input{
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0.8fr 0.2fr;
}

.bodyDiv_input > input{
  font-size: 1.5em;
  height: 2.9em;
  padding: 0 1em 0 2.2em;
  border-radius: 0.3em 0em 0em 0.3em;
  display: flex;
  
}


.bodyDiv_input > input:focus {
border: 3px solid purple;
}

.fa-magnifying-glass{
 
  font-size: 1.3em;
}

.bodyDiv_input > input::placeholder{
  font-size: 0.7em;
}

.ethlogoSearch{
  cursor: pointer;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  border-radius: 0em 0.3em 0.3em 0;
  font-size: 1.1em;
  color: white;
  font-size: 500;
  
}

.ethlogoSearch > i{
font-size: 1.1em;
 margin-left: 0.5em;
 color: rgba(31, 199, 212, 1);
}



.bodyDiv_inputText{
  display: flex;
  justify-content: space-around;
  width: inherit;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.bodyDiv_inputText > div > i{
  margin-right: 0.5em;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*  INFO DISPLAY  */

.infoDisplayDiv{
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  top: -7em;
  gap: 2em;
  column-gap: 4em;
  width: max-content;
  margin: auto;
  padding: 1em;
  border-radius: 0.2em;
  color: white;
}

/*
.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes scale-in-hor-center {
0% {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 1;
}
100% {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
}
@keyframes scale-in-hor-center {
0% {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 1;
}
100% {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
}*/


.infoDisplayFirstDiv{

width: fit-content;
 margin: auto 0.5em;
 padding: 1em;
}

.infoDisplayPriceDiv{
  font-weight: 400;
  margin-bottom: 0.3em;
}

.infoDisplayValueDiv{
font-weight: 600;
display: flex;
}

.infoDisplayFirstDiv > i{
  position: absolute;
  margin-left: -1.2em;
  font-size: 1.5em;
  margin-top: 0.5em;
  color: rgba(31, 199, 212, 1);
}

.infoDisplayFirstDivBlock{
  margin-left: 2em;
}

.infoDisplayFirstDivMGP{
  margin-left: 2em;
  
}

.infoDisplayValueDiv1{
  letter-spacing: 0.15em;
  
}

.infoDisplayValueDiv2{
  font-weight: 400;
  color: red;
  margin-left: 2em;
  border-radius: 0.2em;
  background-color: rgb(255, 255, 255);
  padding: 0.15em 0.3em;
}

.infoDisplayValueDiv2 > i{
  margin-left: 0.5em;
  
  display: none;
}

.vl {
  border-left: 2px solid silver;
  height: 12em;
  position: absolute;
  left: 33%;
  margin-left: -3px;
  top: 1em;
}

.vl2 {
  border-left: 2px solid silver;
  height: 12em;
  position: absolute;
  left: 68%;
  margin-left: -3px;
  top: 1em;
}

.vh {
  border-bottom: 2px solid silver;
  width: 15em;
  position: absolute;
  left: 2.2%;
  margin-left: -3px;
  top: 7em;
}

.vh2 {
  border-bottom: 2px solid silver;
  width: 15em;
  position: absolute;
  left: 36.8%;
  margin-left: -3px;
  top: 7em;
}

.vh3 {
  border-bottom: 2px solid silver;
  width: 15em;
  position: absolute;
  left: 71%;
  margin-left: -3px;
  top: 7em;
}




/*   FOOTER    */

.footer{
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1.2em;
  color: white;
  padding: 2em;
  font-size: 1.2em;
}

.footer1{
  display: grid;
}

.footer1 > .navDiv_logoDiv{
  font-size: 1.35em;
}


.footerEth{
  color: rgb(255, 255, 255);
 
}

.footer2{
  display: grid;
  display: inline-block;
}

.footer2 >  div > ul{
  list-style-type: none;
  
}

.footer2 > div > ul > li{
  margin-top: 1.3em;
  margin-bottom: 0.1em;
  cursor: pointer;
}

.footer3{
  display: grid;
  display: inline-block;
}

.footer3 >  div > ul{
  list-style-type: none;
  
}

.footer3 > div > ul > li{
  margin-top: 1.3em;
  margin-bottom: 0.1em;
  cursor: pointer;
}


.footer4{
  display: grid;
}

.footer4 >  div > ul{
  list-style-type: none;
  
}

.footer4 > div > ul > li{
  margin-top: 1.3em;
  margin-bottom: 0.1em;
  cursor: pointer;
}





/*         LASTSECTION          */


.lastSection{
  background-color:  #F1ECE7;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.lastSection2 > p > i{
cursor: pointer;
background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.lastSection1{
  display: flex;
  justify-content: space-between;
  width: 12em;
  font-size: 1.2em;
  color: #000000;
}

.lastSection2{
  display: flex;
  width: 12em;
  justify-content: space-evenly;
  font-size: 1.2em;
  color: #9F496E;
}




/*   LOADER   */

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  z-index: 1000;
  opacity: 0;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}





/*          RESULT BODY STYLES         */
.body{
  height: 100vh;
  border: solid 2px greenyellow;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 2fr;
  padding: 2em;
  row-gap: 2em;
  color: white;
  
}

.body1{
  min-width: 22em;
  border: solid 2px rgb(221, 255, 0);
  display: grid;
 
}

.body1 > div{
  display: flex;
  flex-wrap: wrap;
}

.body1 > div:first-child{
  font-size: 0.9em;
}

.body1 > div > i{
  color: #9F496E;
  margin-right: 0.4em;
}

.body2{
  border: solid 2px blue;
}




/*  +++++ MEDIA QUERIES +++++  */


@media screen and (max-width: 892px){
  .navDiv_buttonDiv > div:first-child{
    display: flex;
    width: 5em;
    justify-content: space-between;
    align-items: center;
  }

  .navDiv_buttonDiv > div:first-child > img, i{
    cursor: pointer;
  }

  .navDiv_buttonDiv > div:first-child >button{
background-color: transparent;
background-color: rgba(31, 199, 212, 1);
border-radius: 0.3em;
width: 3em;
height: 3em;
  }

 .MetamaskBtn{
   display: none;
 }

 #metamasklogomobile{
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  position: relative;


}
  .navDiv_optionsDiv > ul{
    display: none;
  }


  .navDiv_HomeDiv > span{
    display: none;
  }

  .homeBorderBottom{
    display: none;
  }

  .bodyDiv_paraText > h3{
    font-weight: 300;
    font-size: 1.7em;
    position: relative;
    left: -0.1em;
    
  }

  .bodyDiv_input{
    position: relative;
    border: red solid 2px;
  }
  

  
  .bodyDiv_input > input::placeholder{
    font-size: 0.7em;
  }

 .ethlogoSearch{
   height: initial;
 }
 
  /*
  .ethlogoSearch{
 grid-template-columns: 0.3fr 0.7fr;
  }*/
  

  .infoDisplayDiv{
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    top: -5em;
    gap: 2em;
   border-radius: 0.3em;
    width: max-content;
    margin: auto;
    padding: 1em;
   
  }




  .vl, .vl2, .vh, .vh2, .vh3{
    display: none;
  }

  .infoDisplayFirstDiv{
    margin-left: 0;
    font-weight: 400;
    margin-bottom: 0.3em;
    width: 21em;
    border-bottom: 1px solid silver;
  }

  .bodyDiv_inputText{
    display: flex;
    justify-content: space-around;
    width: inherit;
    font-weight: 400;
  }
  
  .bodyDiv_inputText > div > i{
    margin-right: 0.5em;
    

  }

  .infoDisplayDiv > div:last-child{
    margin-bottom: 0;
    border-bottom: 0px solid;
    padding-top: 0;
    margin-top: 0.5em;
  }

  .infoDisplayFirstDivMGP{
    margin-bottom: 0;
  }

  .infoDisplayFirstDivBlock{
    margin-left: 0;
  }


  #loader {
    border: 12px solid #fffcfc;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 1000;
    animation: spin 1s linear infinite;
    
  }
  
  @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
.footer2Ul{
  display: none;
}

.footer3Ul{
  display: none;
}

.footer4Ul{
  display: none;
}

.footer1{
  margin-bottom: 1em;
}

.footer2{
  align-self: self-end;
}

.footer3, .footer2, .footer4{
  padding-bottom: 0.5em;
  border-bottom: solid 1px silver;
  align-self: self-end;
}

.footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
  padding: 2em;
  font-size: 1.2em;
}

.footer2Div, .footer3Div, .footer4Div{
  display: flex;
  justify-content: space-between;
}
}




@media screen and (max-width: 650px){
  .bodyDiv_h1Text > h1{
    font-size: 1.3em;
    position: relative;
    right: 0.6em;
  }

  .navDiv_logoDiv > span{
    font-weight: bolder;
  }

  .navDiv_buttonDiv > button{
    position: relative;
    right: 1.2em;
    padding: 0.5em;
  
  }

  .bodyDiv_h1Text{
    margin: auto;
    margin-bottom: 1.5em;
  }

  .bodyDiv_paraText > h3{
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
    left: 2.5em;
    width: 16em;
    
  }
  .bodyDiv{
    padding: 0.5em;
  }

  .bodyDiv_input{
    position: relative;
    margin-top: 2em;
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.66fr 0.3fr;
  }
 
  
  .bodyDiv_input > input{
    font-size: 1em;
    padding: 0 0.5em 0 0.4em;
    height: 3.1em;
  }
  
  .bodyDiv_input > input::placeholder{
    font-size: 0.7em;
  }


   .fa-ethereumlogo{
     font-size: 1.2em;

   }
   
 

  .bodyDiv_inputText{
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    font-weight: 400;
  }
  
  .fa-bars{
    margin-right: 0.5em;
    color: rgb(255, 255, 255);
  }

  .bodyDiv_inputText > div{
  padding: 0.5em;
}

.ethlogoSearch{
  cursor: pointer;
  outline: none;
}

.ethlogoSearch > i{
font-size: 1.1em;
 margin-left: 0.4em; 
 outline: none;
 
}


  .infoDisplayDiv{
    box-shadow: -0.2em 0 .4em grey;
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    top: -10em;
    gap: 1em;
    width: max-content;
    margin: auto;
    padding: 1em 1em 0em 1.5em;
  }




.lastSection{
display: flex;
justify-content: space-between;
}


.lastSection1{
  display: flex;
  justify-content: space-between;
  width: 11em;
  font-size: 1em;
}

.lastSection2{
  display: flex;
  width: 10em;
  justify-content: space-evenly;
  font-size: 1.2em;

  margin-left: 1.4em;
}
}



