@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500&display=swap');

/*  
rgba(31, 199, 212, 1) blue
 background: linear-gradient(180deg, #8051D6 0%, #492286 100%)
*/
.blockbody2para1, .blockbody2para2, .blockbody2para3, .blockbody3para1, .body11Address{
flex-wrap: wrap;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.invalid{
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

.valid{
  box-shadow: none;
}

.recentTransDiv{
display: none;
}

.linkHome{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}


*{
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.errorMes > p{
  color: red;
  font-size: 1.2em;
}

.errorMes{
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 100;
}




button{
  font-weight: 400;
  border-radius: 0.3em;
  color: white;
  background-color: rgba(31, 199, 212, 1);
 padding: 0.5em;
  cursor: pointer;
  outline: none;
  border: none;
}

.container{
  display: grid;
  height: 100vh;

  display: inline-block;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.32) 50%, rgba(37, 165, 151, 0) 50%);
}

/*
.navDiv{
  width: 100vw;
  border: solid 5px greenyellow;
}
*/

#metamasklogo{
height: fit-content;
width: 1.5em;
margin-left: 0.3em;
position: relative;
top: 0.3em;
}

#metamasklogomobile{
  height: fit-content;
  width: 1.5em;
  cursor: pointer;
}

.navDiv_buttonDiv > div:first-child{
  display: flex;
  width: 5em;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.navDiv_buttonDiv{
display: flex;
justify-content: space-between;
}

nav{
  overflow-x: hidden;
  color: white;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
}


.navDiv_optionsDiv > ul{
  display: flex;
  list-style: none;
  width: 22em;
  justify-content: space-between;
  font-weight: 200;
}

.navDiv_optionsDiv > ul > i{
  margin-left: 0;
  color: #9F496E;
  padding-left: 0;
  left: 1px;
  position: relative;
}

.navDiv_optionsDiv > ul > li{
 cursor: pointer;
}

.fa-ethereum{
  font-size: 1.4em;
  margin-right: 0.5em;
  background: rgba(31, 199, 212, 1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navDiv_logoDivSpan {
  font-weight: bolder;
  font-size: 1.5em;
  
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.navDiv_logoDiv > span{
  font-weight: 500;
  font-size: 1.5em;
}

.navDiv_HomeDiv{
  position: relative;
  font-weight: 200;
}

.navDiv_HomeDiv > span{
  cursor: pointer;
}

.navDiv_HomeDiv > span:hover{
  transition: 1s;
}

.homeBorderBottom{
  position: absolute;
  top: 1.3em;
  left: 0.5em;
  width: 2em;
  height: 0.1em;
  background-color: white;
}


/*  body style*/

.bodyDiv{
  display: grid;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  margin-bottom: 2em;
 
}

.bodyDivSub{
  margin: auto;
  margin-top: 4em;
  text-align: center;
}

.bodyDiv_h1Text{
  margin-bottom: 1.5em;
}

.bodyDiv_h1Text > h1{
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  word-spacing: 0.1em;
  font-size: 3em;
  
}
/*
.bodyDiv_h1Text > h1 > span{
  background-image: linear-gradient(43deg, #554e84 10%, #C850C0 35%, #f1b13e 51%, #ffffff 61%, #640dd4 66%);
  
  -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}*/



.bodyDiv_paraText > h3{
  font-weight: 500;
  color: black;
}


.bodyDiv_input{
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0.8fr 0.2fr;
}

.Input{
  font-size: 1.5em;
  height: 2.9em;
  padding: 0 1em 0 2.2em;
  border-radius: 0.3em 0em 0em 0.3em;
  display: flex;
  border: solid 1px silver;
}


.bodyDiv_input > input:focus {
border: 1px solid purple;
}

.fa-magnifying-glass{
 
  font-size: 1.3em;
}

.bodyDiv_input > input::placeholder{
  font-size: 0.7em;
}

.ethlogoSearch{
  cursor: pointer;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  border-radius: 0em 0.3em 0.3em 0;
  font-size: 1.1em;
  color: white;
  font-size: 500;
  
}

.ethlogoSearch > i{
font-size: 1.1em;
 margin-left: 0.5em;
 color: rgba(31, 199, 212, 1);
}



.bodyDiv_inputText{
  display: flex;
  justify-content: space-around;
  width: inherit;
  font-weight: 500;
  cursor: pointer;
  color: black;
  
}

.bodyDiv_inputText > div > i{
  margin-right: 0.5em;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*  INFO DISPLAY  */

.infoDis{
  height: fit-content;
  margin-bottom: 2em;
}

.infoDisplayDiv{
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  gap: 2em;
  column-gap: 4em;
  width: max-content;
  margin: auto;
  padding: 1em;
  border-radius: 0.2em;
  color: white;
}


.infoDisplayFirstDiv{

width: fit-content;
 margin: auto 0.5em;
 padding: 1em;
}

.infoDisplayPriceDiv{
  font-weight: 400;
  margin-bottom: 0.3em;
}

.infoDisplayValueDiv{
font-weight: 600;
display: flex;
}

.infoDisplayFirstDiv > i{
  position: absolute;
  margin-left: -1.2em;
  font-size: 1.5em;
  margin-top: 0.5em;
  color: rgba(31, 199, 212, 1);
}

.infoDisplayFirstDivBlock{
  margin-left: 2em;
}

.infoDisplayFirstDivMGP{
  margin-left: 2em;
  
}

.infoDisplayValueDiv1{
  letter-spacing: 0.15em;
  
}

.infoDisplayValueDiv2{
  font-weight: 400;
  color: rgba(10, 142, 152, 1);
  margin-left: 2em;
  border-radius: 0.2em;
  background-color: rgb(255, 255, 255);
  padding: 0.15em 0.3em;
  
}

.infoDisplayValueDiv2 > i{
  margin-left: 0.3em;
  
  display: none;
}

.vl {
  border-left: 2px solid silver;
  height: 12em;
  position: absolute;
  left: 33%;
  margin-left: -3px;
  top: 1em;
}

.vl2 {
  border-left: 2px solid silver;
  height: 12em;
  position: absolute;
  left: 68%;
  margin-left: -3px;
  top: 1em;
}

.vh {
  border-bottom: 2px solid silver;
  width: 15em;
  position: absolute;
  left: 2.2%;
  margin-left: -3px;
  top: 7em;
}

.vh2 {
  border-bottom: 2px solid silver;
  width: 15em;
  position: absolute;
  left: 36.8%;
  margin-left: -3px;
  top: 7em;
}

.vh3 {
  border-bottom: 2px solid silver;
  width: 15em;
  position: absolute;
  left: 71%;
  margin-left: -3px;
  top: 7em;
}




/*   FOOTER    */

.footer{
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1.2em;
  color: white;
  padding: 2em;
  font-size: 1.2em;
}

.footer1{
  display: grid;
}

.footer1 > .navDiv_logoDiv{
  font-size: 1.35em;
}


.footerEth{
  color: rgb(255, 255, 255);
 
}

.footer2{
  display: grid;
  display: inline-block;
}

.footer2 >  div > ul{
  list-style-type: none;
  
}

.footer2 > div > ul > li{
  margin-top: 1.3em;
  margin-bottom: 0.1em;
  cursor: pointer;
}

.footer3{
  display: grid;
  display: inline-block;
}

.footer3 >  div > ul{
  list-style-type: none;
  
}

.footer3 > div > ul > li{
  margin-top: 1.3em;
  margin-bottom: 0.1em;
  cursor: pointer;
}


.footer4{
  display: grid;
}

.footer4 >  div > ul{
  list-style-type: none;
  
}

.footer4 > div > ul > li{
  margin-top: 1.3em;
  margin-bottom: 0.1em;
  cursor: pointer;
}

.fa-plus{
  display: none;
}




/*         LASTSECTION          */


.lastSection{
  background-color:  #F1ECE7;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.lastSection2 > p > i{
cursor: pointer;
background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.lastSection1{
  display: flex;
  justify-content: space-between;
  width: 12em;
  font-size: 1.2em;
  color: #000000;
}

.lastSection2{
  display: flex;
  width: 12em;
  justify-content: space-evenly;
  font-size: 1.2em;
  color: #9F496E;
}




/*   LOADER   */

#loader {
  border: 12px solid #ee80f1;
  border-radius: 50%;
  border-top: 12px solid #ffabf0;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  z-index: 1000;
  display: none;
  color: #000000;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}





/*          RESULT BODY STYLES         */

.body{
  overflow-y: hidden;
  height: fit-content;
  display: grid;
  display: block;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 2fr;
  padding: 2em;
  row-gap: 2em;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

hr{


  margin-bottom: 1em;
  margin-top: 1em;
}

.body1{
  
  margin-bottom: 0;
  height: fit-content;
}

.body2{
  position: relative;
  margin-top: 2em;
}

.balanceSpan{
  width: fit-content;
  padding: 0.2em;
  font-size: 0.8em;
  background: rgba(31, 199, 212, 1);
  border-radius: 0.3em;
  color: white;
}

.body11{
  font-size: 1.2em;
  padding: 1em;
  display: grid;
  border-radius: 0.3em;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
}

.body11 > div{
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.body11 > div:first-child{
  font-size: 0.9em;
}


.body22{
  overflow-y: visible;
  border: solid 3px silver;
  border-radius: 0.3em;
}

caption{
  width: max-content;
  font-size: 1em;
  padding-left: 1em;
  font-weight: 500;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}


thead{
  border-radius: 0.3em;
  background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  color: white;

}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 20%;
}

th,
td {
  padding: 20px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody > tr > td {
  text-align: center;
}

tbody{
  background: white;
}
tbody > tr{
  border-bottom: solid 2px silver;
}





/************ BLOCK BODY  **************/

.bodyblock{
  background: linear-gradient(180deg, #ede7fa 50%,  #d7c6fa 100%);;
  padding: 2em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 2em;
  display: block;
}

.blockbodyy{
  height: 80%;
}

.blockbodyDiv{
  border: solid rgb(250, 250, 250) ;
  height: 100%;
  margin-top: 2em;
  border-radius: 0.3em;
  background-color: #FFFFFF;
}

.blockbody{
  height: 100%;
  display: grid;
  display: block;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.blockbody > div{
  padding-left: 2em;
}

.blockbody1{

  height: max-content;
  border-bottom: solid 2px silver;
  position: relative;
  padding: 0.5em;
}

.blockbody2{
  border-bottom: solid 2px silver;
}

.blockbody1 > p{
  width: max-content;
  border-bottom: solid 2px rgba(118, 69, 217, 1);
  position: inherit;
  bottom: -0.65em;

}

.blockbody2 > div, .blockbody3 > div{
  display: flex;
margin-bottom: 2em;
justify-content: space-between;
}

.blockbody2, .blockbody3{
  margin-bottom: 2em;
} 

.blockbody2{
  margin-top: 1.5em;
}

.blockbody2 > div > p:last-child, .blockbody3 > div > p:last-child{
  margin-right: 3em;

}

.blockbody3{
  padding-top: 0;
  margin-top: 0;
}



/*  +++++ MEDIA QUERIES +++++  */


@media screen and (max-width: 892px){
  .navDiv_buttonDiv > div:first-child{
    display: flex;
    width: 5em;
    justify-content: space-between;
    align-items: center;
  }

  .navDiv_buttonDiv > div:first-child > img, i{
    cursor: pointer;
  }

  .navDiv_buttonDiv > div:first-child >button{
background-color: transparent;
background-color: rgba(31, 199, 212, 1);
border-radius: 0.3em;
width: 3em;
height: 3em;
  }

 .MetamaskBtn{
   display: none;
 }

 #metamasklogomobile{
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  position: relative;


}
  .navDiv_optionsDiv > ul{
    display: none;
  }


  .navDiv_HomeDiv > span{
    display: none;
  }

  .homeBorderBottom{
    display: none;
  }

  .bodyDiv_paraText > h3{
    font-weight: 300;
    font-size: 1.3em;
    position: relative;
    left: -1em;
    
  }

  .bodyDiv_input{
    position: relative;
  }

  
  .bodyDiv_h1Text > h1{
    font-size: 1.3em;
    position: relative;
   
  }

  .navDiv_logoDiv > span{
    font-weight: bolder;
  }

  .navDiv_buttonDiv > button{
    position: relative;
    right: 1.2em;
    padding: 0.5em;
  
  }

  .bodyDiv_h1Text{
    margin: auto;
    position: relative;
    left: -1.5em;
    
    
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5em;
  }

  .bodyDiv_paraText > h3{
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
    left: 0.5em;
    width: 19em;
    margin: auto;
   

    
  }
  .bodyDiv{
    padding: 0.5em;
  }

  .bodyDiv_input{
   
    position: relative;
    margin-top: 2em;
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.6fr 0.4fr;
  }
 
  
  .bodyDiv_input > input{
    font-size: 1em;
    padding: 0 0.5em 0 0.4em;
    height: 3.1em;
    width: 22em;
    position: relative;
  }
  
  .bodyDiv_input > input::placeholder{
    font-size: 0.7em;
  }


   .fa-ethereumlogo{
     font-size: 1.2em;

   }
   

  .bodyDiv_inputText{
    display: flex;
    justify-content: space-between;
    width: inherit;
    font-weight: 400;
    
  }
  
  .fa-bars{
    margin-right: 0.5em;
    color: rgb(255, 255, 255);
  }

  .bodyDiv_inputText > div{
  padding: 0.5em;
}


  .bodyDiv_input > input::placeholder{
    font-size: 0.7em;
  }

 .ethlogoSearch{
   height: initial;
 }
 
  /*
  .ethlogoSearch{
 grid-template-columns: 0.3fr 0.7fr;
  }*/


  .infoDis{
    height: fit-content;
 
  }
  

  .infoDisplayDiv{

    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    gap: 2em;
   border-radius: 0.3em;
    width: max-content;
    margin: auto;
    padding: 1em;
    
   
  }

  .vl, .vl2, .vh, .vh2, .vh3{
    display: none;
  }

  .infoDisplayFirstDiv{
    margin-left: 0;
    font-weight: 400;
    margin-bottom: 0.3em;
    width: 21em;
    border-bottom: 1px solid silver;
  }

  .bodyDiv_inputText{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
  }
  
  .bodyDiv_inputText > div > i{
    margin-right: 0.5em;
    

  }

  .infoDisplayDiv > div:last-child{
    margin-bottom: 0;
    border-bottom: 0px solid;
    padding-top: 0;
    margin-top: 0.5em;
  }

  .infoDisplayFirstDivMGP{
    margin-bottom: 0;
  }

  .infoDisplayFirstDivBlock{
    margin-left: 0;
  }


  #loader {
    border: 12px solid #fffcfc;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 1000;
    animation: spin 1s linear infinite;
    
  }
  
  @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
.footer2Ul{
  display: none;
}

.footer3Ul{
  display: none;
}

.footer4Ul{
  display: none;
}

.footer1{
  margin-bottom: 1em;
}

.footer2{
  align-self: self-end;
}

.footer3, .footer2, .footer4{
  padding-bottom: 0.5em;
  border-bottom: solid 1px silver;
  align-self: self-end;
}

.footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
  padding: 2em;
  font-size: 1em;
}

.footer2Div, .footer3Div, .footer4Div{
  display: flex;
  justify-content: space-between;
}

.fa-plus{
  display: inline-block;
}
}




@media screen and (max-width: 650px){

  container{
   overflow-x: hidden;
  }

  .bodyDiv_h1Text > h1{
    font-size: 1.3em;
    position: relative;
   
  }

  .navDiv_logoDiv > span{
    font-weight: bolder;
  }

  .navDiv_buttonDiv > button{
    position: relative;
    right: 1.2em;
    padding: 0.5em;
  
  }

  .bodyDiv_h1Text{
    margin: auto;
    position: relative;
    left: -1.5em;
    
    
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5em;
  }

  .bodyDiv_paraText > h3{
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
    left: 0.5em;
    width: 19em;
    margin: auto;
   

    
  }
  .bodyDiv{
    padding: 0.5em;
  }

  .bodyDiv_input{
   
    position: relative;
    margin-top: 2em;
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.6fr 0.4fr;
  }
 
  
  .bodyDiv_input > input{
    font-size: 1em;
    padding: 0 0.5em 0 0.4em;
    height: 3.1em;
    width: 22em;
    position: relative;
  }
  
  .bodyDiv_input > input::placeholder{
    font-size: 0.7em;
  }


   .fa-ethereumlogo{
     font-size: 1.2em;

   }
   
 

  .bodyDiv_inputText{
    display: flex;
    justify-content: space-between;
    width: inherit;
    font-weight: 400;
    
  }
  
  .fa-bars{
    margin-right: 0.5em;
    color: rgb(255, 255, 255);
  }

  .bodyDiv_inputText > div{
  padding: 0.5em;
}

.ethlogoSearch{
  cursor: pointer;
  outline: none;
}

.ethlogoSearch > i{
font-size: 1.1em;
 margin-left: 0.4em; 
 outline: none;
 
}


.infoDis{
  height: fit-content;

}

  .infoDisplayDiv{

    box-shadow: -0.2em 0 .4em grey;
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1em;
    width: max-content;
    margin: auto;
    padding: 1em 1em 0em 1.5em;
    right: 0em;
  }
 .infoDisplayValueDiv1{
    margin-left: 0.5em;
  }



.lastSection{
display: flex;
justify-content: space-between;

}


.lastSection1{
  display: flex;
  justify-content: space-between;
  width: 11em;
  font-size: 1em;
}

.lastSection2{
  display: flex;
  width: 8em;
  justify-content: space-evenly;
  font-size: 1em;
  margin-left: 0.5em;
}

.blockbody2 > div > p:last-child, .blockbody3 > div > p:last-child{
  margin-right: 1em;
  margin-left: 0.5em;
}

.bodyblock{
  padding-left: 1em;
}

}



@media screen and (max-width: 800px){
  .body11{
    font-size: 0.8em;
    padding: 1em;
    display: grid;
    border-radius: 0.3em;
    background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
  }

  .body2 > caption{
    display: none;
  }

  Table{
    display: none;
  } 

  .recentTransDiv{
    
    display: grid;
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    width: inherit;
  }

  .recentTrans{
    
    padding: 0.5em;
    background: linear-gradient(180deg, #8051D6 0%, #492286 100%);
    height: fit-content;
    color: white;
    text-align: center;
    font-size: 0.8em;
  }

  .recentTrans1{
    border-radius: 0.3em;
    height: fit-content;
    padding: 0.5em;
    font-size: 0.8em;
  }

  #transStamp > div > div{
    display: grid;
  
  }

  .blockbodyDiv{
    font-size: 0.8em;
  }
}



